n8n_workflows/secretary/secretary_analyze.json
{
    "name": "🤖 AI Secretary - Phân Tích Yêu Cầu",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "analyze-request",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-1",
            "name": "Webhook - Nhận Yêu Cầu",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extract request data\nconst requestData = $input.item.json.body;\nconst userRequest = requestData.request || '';\n\n// Call Python AI Secretary\nconst pythonScript = `\nimport sys\nimport json\nsys.path.append('c:/Users/GHC/Desktop/python1 - Copy/ai_modules')\nfrom secretary_ai import SecretaryAI\n\nsecretary = SecretaryAI()\nanalysis = secretary.analyze_request('''${userRequest}''')\nprint(json.dumps(analysis, ensure_ascii=False))\n`;\n\nreturn [{\n  json: {\n    user_request: userRequest,\n    python_script: pythonScript,\n    timestamp: new Date().toISOString()\n  }\n}];"
            },
            "id": "code-1",
            "name": "Chuẩn Bị Dữ Liệu",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "command": "python -c \"{{ $json.python_script }}\"",
                "cwd": "c:/Users/GHC/Desktop/python1 - Copy"
            },
            "id": "execute-1",
            "name": "Chạy AI Secretary",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse Python output\nconst output = $input.item.json.stdout || '{}';\nconst analysis = JSON.parse(output);\n\nreturn [{\n  json: {\n    success: true,\n    analysis: analysis,\n    timestamp: new Date().toISOString()\n  }\n}];"
            },
            "id": "code-2",
            "name": "Xử Lý Kết Quả",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}"
            },
            "id": "respond-1",
            "name": "Trả Kết Quả",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        }
    ],
    "connections": {
        "Webhook - Nhận Yêu Cầu": {
            "main": [
                [
                    {
                        "node": "Chuẩn Bị Dữ Liệu",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Chuẩn Bị Dữ Liệu": {
            "main": [
                [
                    {
                        "node": "Chạy AI Secretary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Chạy AI Secretary": {
            "main": [
                [
                    {
                        "node": "Xử Lý Kết Quả",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Xử Lý Kết Quả": {
            "main": [
                [
                    {
                        "node": "Trả Kết Quả",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "active": false,
    "tags": []
}