n8n_workflows/gemini_expert.json
{
    "name": "Gemini Expert for Web App",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "gemini-expert",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent",
                "sendQuery": true,
                "queryParameters": {
                    "key": "={{$json.body.api_key}}"
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{JSON.stringify({ contents: [{ parts: [{ text: $json.body.prompt }] }] })}}",
                "options": {}
            },
            "name": "Gemini 1.5 Pro",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{JSON.stringify({ text: $json.candidates[0].content.parts[0].text })}}",
                "options": {}
            },
            "name": "Respond to App",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Gemini 1.5 Pro",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini 1.5 Pro": {
            "main": [
                [
                    {
                        "node": "Respond to App",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}